<mat-toolbar>
  <span>REGISTRATION</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="registration-form">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First NAme" name="firstName" [(ngModel)]="user.firstName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last NAme" name="lasttName" [(ngModel)]="user.lastName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" [(ngModel)]="user.email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login" name="login" [(ngModel)]="user.login" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password" [(ngModel)]="user.password" type="password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="signUp()" color="primary">LOGIN</button>
  </mat-card-actions>
</mat-card>
