<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span>
    <span><a href="/">HOME</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/register">Register</a>
    <a *ngIf="!isAuthenticated" mat-button routerLink="/login">Login</a>
    <a *ngIf="isAuthenticated" mat-button (click)="logout()">Logout</a>
    <a *ngIf="isAuthenticated && isAdmin()" mat-button>Settings</a>
  </mat-toolbar-row>
</mat-toolbar> -->
<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button routerLink="/game">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>
<router-outlet></router-outlet>
